body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.nav-bar{
  display: flex;
  justify-content: space-evenly;

}

.register-key{
  color: rgb(37, 37, 212);
  cursor: pointer;
}
.register-key:hover{
  color: rgb(90, 191, 44);
}