body {
  font-family: Georgia, serif;
  background-color: rgba(235, 235, 235, 0.45);
  margin: 0;
  padding: 0;
}
.App{
  padding: 5px 15px;
  position: relative;
}
.loading {
  background-color: rgb(1, 101, 7);
  color: white;
}
h1{
  font-size: 1.5rem;
  margin: 0;
}
h1:hover{
  cursor: pointer;
}
ul{
  list-style: none;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.nav-bar{
  display: flex;
  justify-content:space-between;
    
  font-size: 18px;

}
.nav-bar > *{
  text-decoration: none;
  background-color: rgb(10, 44, 95);
  color: white;
  width: 33%;
  padding: 5px 0;
}

.register-key{
  font-size: 16px;
  color: rgb(37, 37, 212);
  cursor: pointer;
}
.register-key:hover{
  color: rgb(90, 191, 44);
}

.avail-option{
  border: 1.5px solid rgba(109, 109, 109, 0.82);
  border-radius: 3px;
  padding: 5px;
  margin: 5px 15px;
  width: fit-content;
}
.search-header input{
  border: 1.5px solid rgba(71, 71, 71, 0.648);
  border-radius: 4px;
  padding: 5px;

}
.display-books{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 15px;
}
.book-presentation{
  flex: 0 0 calc(33% - 20px);
  background-color: white;
  border: 1.2px solid rgba(170, 170, 170, 0.47);
  padding: 15px 5px;
  border-radius: 5px;
  min-height: 8rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
h5{
  text-align: center;
  margin: 5px 0;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}
.buttons button{
  width: 7rem;
  padding: 3px;
  border-radius: 3px;
  background-color: rgba(236, 214, 172, 0.461);
  border: 1.5px solid rgba(162, 162, 162, 0.717);
}
.buttons button:hover{
  background-color: rgba(193, 164, 111, 0.443);
  border: 1.5px solid rgba(109, 109, 109, 0.74);
}
.dialog-box{
  background-color: rgb(154, 90, 215);
  border: 1.5px solid rgba(101, 101, 101, 0.749);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  width: 40%;
  padding: 0;
}
.dialog-box p{
  padding: 20px;
  margin: 0;
}
.dialog-box button{
  margin: 5px 20px;
  background-color: rgba(245, 245, 220, 0.463);
  border: 1.5px solid rgba(128, 128, 128, 0.541);
  padding: 5px 15px;
  border-radius: 5px;
}
.dialog-box button:hover{
  background-color: rgba(234, 234, 178, 0.626);;
  border: 1.5px solid rgba(45, 25, 88, 0.541); 
}

.overlay{
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 232, 232, 0.863);
  pointer-events: all; 
}

.login-card{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20rem;
  margin: 0 auto;
  font-size: 14px;
}
p{
  margin: 5px;
}

.login-card form{
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:5px;
  padding: 10px 20px 5px 20px;
  box-shadow: 2px 2px 2px 2px rgba(37, 37, 37, 0.3);
}
.login-card form button, .login-btn{
  background-color: rgba(132, 235, 187, 0.523);
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid gray;
}
.login-btn{
  width: 5rem;
}

.login-fields{
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}
.login-fields input, .register-fields input{
  font-size: 14px;
  padding: 5px 25px;
  border-radius: 5px;
  border: 1.5px solid gray;
}
.login-card form p{
  margin:0;  
}

.header{
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.top{
  display: flex;
  justify-content:space-between;
  margin: 0;
  padding:10px;
}
.top a{
  border: 1.5 px solid rgba(108, 108, 108, 0.975);
  background-color: rgba(109, 205, 109, 0.845);
  border-radius: 5px;
  height: fit-content;
  padding: 5px 15px;
  margin: auto 0;
  text-decoration: none;
  font-size: 16px;
}
.top a:hover{
  border: 1.5 px solid rgb(109, 109, 109);
  background-color: rgba(43, 142, 43, 0.845);
  cursor:default;  
}

.register-form{
  width: 20rem;
  margin: 25px auto;
  justify-content: center;
  font-size: 18px;
}
.register-form,
.register-form * {
  font-size: inherit;
}
.register-form h3{
  text-align: center;
}
.register-form button{
  float: right;
  background-color: rgba(132, 235, 187, 0.523);
  margin-top: 15px;
  padding: 5px 20px;
  border: 1.5px solid gray;
  border-radius: 5px;
}
.register-form button:hover{
  background-color: rgba(89, 216, 157, 0.694);
  border: 1.5px solid  rgba(93, 93, 199, 0.82);
}

.register-fields{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px rgba(58, 58, 58, 0.3);
}
.fields-register input{
  float: right;
}

.routes{
  position: absolute;
  top: 105px; 
  text-align: center;
  width: 100%;
}

.error{
  color: rgb(199, 0, 0);
}


.account-info{
  text-align: start;
  margin: 15px auto;
}
.account-info tr{
  background-color: rgba(220, 220, 220, 0.441);
}

.account-info th{
  background-color: rgba(141, 67, 67, 0.441);
  text-align: start;
  padding: 5px 10px;
}

.book-table th{
  background-color: rgba(87, 102, 215, 0.441);
}
.account-info td:not(.book-info){
padding: 8px 10px;
}

.book-info{ 
  padding: 0;
  margin: 0
}

.reservations{
  margin: 15px auto;
}
.reservations th{
  padding: 5px 10px;
}
.reservations td{
  padding: 5px 10px;
}
.reservations tr{
  background-color: rgba(220, 220, 220, 0.441);
  text-align: start;
}

.single-book{
  display: flex;
  gap: 15px;
  margin: 15px;
}
.single-book *{
  text-align: start;
}
.single-book table{
  height: 100%;
}
.single-book tr{
  background-color: rgba(197, 197, 197, 0.568);
}
.single-book th{
  background-color: rgba(159, 105, 240, 0.58);
  padding: 5px 10px;
}
.single-book td{
  padding: 5px 10px;
}
.authentication{
  display: flex;
  gap: 10px;
  height: fit-content;
  margin-top: auto;
}
.authentication button{
  height: fit-content;
  background-color: rgba(217, 151, 151, 0.345);
  padding: 3px 5px;
  border: 1.5px solid rgba(175, 175, 175, 0.893);
  border-radius: 5px;
}
.authentication button:hover{
  background-color: rgba(85, 7, 7, 0.694);
  color: white;
  border: 1.5px solid rgba(116, 116, 116, 0.893);
}

.authentication div:hover{
 color: rgb(50, 50, 211);
 text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
 cursor: pointer; 
}